.unauthorized__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    background-color: #f8f9fa; /* Light grey background */
    color: #333; /* Dark text color */
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
  }
  
  .unauthorized__title {
    font-size: 2.5rem; /* Large title */
    margin-bottom: 20px;
    color: #e74c3c; /* Red color for the title */
  }
  
  .unauthorized__message {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555; /* Muted text color */
  }
  
  .unauthorized__button {
    background-color: red; /* Blue background */
    color: white; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .unauthorized__button:hover {
    background-color: rgb(173, 0, 0); /* Darker blue on hover */
  }
  